<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
<h1>Iniciar Sesión</h1>
{{#if error}}
<div style="color: red;">{{error}}</div>
{{/if}}
<form action="/login" method="POST">
<table>
<tbody>
<tr>
<td>Usuario</td>
<td><input type="text" name="usuario" required /></td>
</tr>
<tr>
<td>Contraseña</td>
<td><input type="password" name="clave" required /></td>
</tr>
<tr>
<td colspan="2"><input type="submit" value="Iniciar Sesión" /></td>
</tr>
</tbody>
</table>
</form>
</div>
</body>
</html>
